@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --pale-red: hsl(357, 100%, 86%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --soft-red: hsl(358, 79%, 66%);
  --moderate-blue: hsl(238, 40%, 52%);
}

body {
  background-color: var(--light-gray);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 55%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}

.reply-container {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  width: 48%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  position: relative;
  left: 3.5%;
}

.vl {
  border-left: 4px solid rgb(210, 209, 209);
  position: relative;
  right: 6.1%;
  height: inherit;
}

.new-comment-img {
  width: 50px;
  position: relative;
  bottom: 48px;
}

textarea {
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--light-gray);
}

textarea:focus {
  outline: 2px solid var(--moderate-blue);
}

::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.new-comment {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px;
  padding-right: 0;
}

.new-comment button {
  width: 13%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background-color: var(--moderate-blue);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: relative;
  bottom: 51px;
}

.new-comment button:hover {
  cursor: pointer;
}

.comment {
  width: 100%;
  display: flex;
}

.reply {
  width: 100%;
  display: flex;
}

.score-div {
  width: 15%;
}

.comment-content {
  width: 85%;
}

.credentials {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  padding-left: 0;
  padding-bottom: 10px;
}

.credentials h4 {
  color: var(--dark-blue);
}

.credentials h5 {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 16px;
}

.reply-cta {
  display: flex;
  gap: 5px;
  position: relative;
  left: 36.9%;
  color: var(--moderate-blue);
  font-weight: 500;
}

.reply-cta:hover {
  cursor: pointer;
}

.delete-cta:hover {
  cursor: pointer;
}

.delete-cta {
  display: flex;
  gap: 5px;
  position: relative;
  left: 35.9%;
  color: var(--soft-red);
  font-weight: 500;
}

.reply-delete-cta {
  display: flex;
  gap: 5px;
  position: relative;
  left: 21.5%;
  color: var(--soft-red);
  font-weight: 500;
}

.reply-delete-cta:hover {
  cursor: pointer;
}

.reply-reply-cta {
  display: flex;
  gap: 5px;
  position: relative;
  left: 25.9%;
  color: var(--moderate-blue);
  font-weight: 500;
}

.reply-edit-cta {
  display: flex;
  gap: 5px;
  position: relative;
  left: 23.9%;
  color: var(--moderate-blue);
  font-weight: 500;
}

.reply-edit-cta:hover {
  cursor: pointer;
}

.reply-reply-cta:hover {
  cursor: pointer;
}

.existing-img {
  width: 50px;
}

.comment-text {
  padding: 20px;
  padding-top: 0;
  padding-left: 0;
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  overflow: hidden;
}

.score-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 12px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: var(--very-light-gray);
  border-radius: 12px;
}

.comment-score-count {
  color: var(--moderate-blue);
  font-weight: 500;
  font-size: 18px;
}

.score-counter a {
  text-decoration: none;
  color: var(--light-grayish-blue);
  font-weight: 700;
}

.score-counter a:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--moderate-blue);
}

.own-user {
  background-color: var(--moderate-blue);
  color: white !important;
  text-transform: lowercase;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  display: inline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30%;
  height: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding-left: 8%;
}

.modal-content h2 {
  padding-bottom: 5%;
  color: var(--dark-blue);
}

.modal-content p {
  padding-bottom: 5%;
  width: 90%;
  word-spacing: 0.1em;
  color: var(--grayish-blue);
}

.modal-buttons {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  gap: 20%;
}

.cancel-btn {
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 10px;
  border: none;
  background-color: var(--grayish-blue);
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.cancel-btn:hover {
  cursor: pointer;
  background-color: rgb(78, 78, 99);
}

.del-btn {
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 10px;
  border: none;
  background-color: var(--soft-red);
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.del-btn:hover {
  cursor: pointer;
  background-color: red;
}

.recipient {
  color: var(--moderate-blue);
  font-weight: 700;
  font-size: 16px;
  margin-right: 1%;
}

.update-button {
  width: 13%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background-color: var(--moderate-blue);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: relative;
  bottom: 51px;
  left: 7%;
}

.update-button:hover {
  cursor: pointer;
  background-color: rgb(40, 40, 120);
}

@media screen and (max-width: 768px) {
  .main {
    width: 95%;
    padding: 0;
    padding-bottom: 15%;
    margin-left: 12%;
    margin-right: auto;
    margin-bottom: 4%;
  }

  .reply-container {
    width: 85%;
    padding: 0;
    padding-bottom: 15%;
    margin-left: 12%;
    margin-right: auto;
    margin-bottom: 4%;
    left: 8.5%;
  }

  .new-comment {
    width: 500px;
  }

  textarea {
    display: block;
    width: 315px;
    height: 8em;
  }

  .new-comment-img {
    position: relative;
    top: 120px;
    left: 65px;
    margin-bottom: 11%;
  }

  .new-comment button {
    position: relative;
    top: 120px;
    right: 90px;
    margin-bottom: 10.5%;
    padding-right: 11%;
  }

  .reply-cta {
    top: 11.9em;
    left: -122px;
  }

  .delete-cta {
    top: 11.9em;
    left: -120px;
  }

  .reply-delete-cta {
    top: 12.9em;
    left: -200px;
  }

  .reply-reply-cta {
    top: 12.9em;
    left: -205px;
  }

  .score-counter {
    position: relative;
    flex-direction: row;
    top: 55%;
    left: 300%;
  }

  .comment-content {
    width: 95%;
    margin-left: 1%;
  }
  .score-div {
    width: 5%;
  }

  .credentials h5 {
    width: 100px;
  }

  .modal {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .modal-box {
    /* Adjust the width and height to fit the mobile screen */
    width: 90%;
    height: 30%;
    /* You can also center the modal vertically on mobile */
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .reply-edit-cta {
    top: 12.9em;
    left: -200px;
  }

  .update-button {
    left: 60%;
    top: 0px;
    padding-right: 70px;
  }
}
